
{% extends 'base.html' %}

{% block title %}
    <title>Modificar Libro - My Bookstore</title>
{% endblock title %}

{% block heading %}
    Modificar Libro
{% endblock heading %}

{% block content %}
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <h2 class="mb-4">Modificar Libro</h2>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {{form.media}}
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
