{% extends 'base.html' %}

{% block title %}Buscar{% endblock %}

{% block content %}
    <h2>Buscar</h2>
    <form method="GET">
        {{ form }}
        <button type="submit">Buscar</button>
    </form>

    {% if resultados_veterinarios %}
        <h3>Resultados de Veterinarios:</h3>
        <ul>
            {% for resultado in resultados_veterinarios %}
                <li>{{ resultado.nombre }}</li>
            {% endfor %}
        </ul>0
        
    {% endif %}

    {% if resultados_mascotas %}
        <h3>Resultados de Mascotas:</h3>
        <ul>
            {% for resultado in resultados_mascotas %}
                <li>{{ resultado.nombre }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if resultados_propietarios %}
        <h3>Resultados de Propietarios:</h3>
        <ul>
            {% for resultado in resultados_propietarios %}
                <li>{{ resultado.nombre }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
