{% extends 'base.html' %}

{% load static %}

{% block title %}<title>Edicion Perfil</title>{% endblock %}

{% block heading %}¡Editar Perfil!{% endblock %}

{% block content %}
<form action={% url 'accounts:edicion_perfil' %} method="POST" enctype='multipart/form-data'>
    {% csrf_token %}
    <table>
        {{formulario}}
    </table>
    <button>Guardar Cambios</button>
    <button type='button'><a class='navbar-brand' href={% url 'accounts:modificar_pass' %}> Cambiar Clave</a></button>
</form>
{% endblock content %}